node_modules
dist
.env

# 编译输出
build
out

# 日志文件
*.log

# 操作系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.swp

# 测试覆盖率报告
coverage

# IDE 配置文件
.vscode

# 依赖文件
package-lock.json

